.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.card-colors {
  background-color: #FFF5F2;
  color: #064232;
  --p-card-subtitle-color: #064232;
}

.avatar-colors {
  --p-avatar-color: #064232;
}
