<div class="container__about-page-content">

  <div id="about" class="container__about-page-header content-width">
    @for (content of contentList; track $index) {
    <app-content-image-component [content]="content"></app-content-image-component>
    }
  </div>

  <div id="experience" class="container__about-page-about-me-section">

    <!-- <p-divider></p-divider> -->

    <div class="about-page-about container__about-page-content content-width">
      <h1> {{ 'about.about-me.about-me' | translate }}</h1>

      <div class="about-page-about-list">
        @for (content of aboutMeContent; track $index) {
        <app-advanced-card-component [content]="content" ></app-advanced-card-component>
        }
      </div>
    </div>
  </div>

  <div class="container__about-page-skills-section">

  <!-- <p-divider></p-divider> -->

  <div class="about-page-skills container__about-page-content content-width">
    <h1>{{ 'about.about-me.skills' | translate }}</h1>

    <div class="about-page-skills-list">
      @for (content of stackContent; track $index) {
      <app-simple-card-component [content]="content"></app-simple-card-component>
      }
    </div>
  </div>

  </div>

  <div id="projects" class="container__about-page-projects-section">
    <h1>{{ 'about.projects.projects' | translate }}</h1>

    <div class="about-page-projects-list">
    @for (project of personalProjects; track $index) {
    <app-project-info-component [project]="project"></app-project-info-component>
    }
    </div>

  </div>
</div>
