
.container__about-page-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;       /* centers horizontally */
  align-items: center;  /* centers children inside */
}

.about-page-skills-list, .about-page-about-list, .about-page-projects-list {
  padding: 2rem;
  /* background-color: #f4f4f4; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem; /* cleaner spacing than margin */
}

.about-page-skills-list, .about-page-about-list > app-simple-card-component {
  margin: 0rem;
}

.container__about-page-about-me-section {
  background-color: #F5BABB;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.container__about-page-header {
  /* background-color: #568F87; */
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  padding-top: 1rem;
  margin: 5rem;
  --p-fieldset-background: #568F87;
  --p-fieldset-legend-background: #568F87;
}

.container__about-page-skills-section {
  background-color: #F5BABB;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.container__about-page-projects-section {
  background-color: #568F87;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

h1 {
  margin: 0 0 1rem;
  font-size: 2.5rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
}
