.menu-top-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.menu-top-center-tool-bar {
  --p-toolbar-background: #00000000;
  --p-toolbar-border-color: #00000000;
}

.menu-top-center-button {
  --p-button-primary-color: #FFF5F2;
  --p-button-primary-background: #00000000;
  --p-button-primary-border-color: #00000000;
  --p-button-primary-hover-background: #00000000;
  --p-button-primary-hover-border-color: #00000000;
  --p-button-primary-hover-color: #F5BABB;
}

.p-toolbar {
  border: none !important;
  box-shadow: none !important;
}

@media (max-width: 900px) {
  .container__menu-top {
    flex-direction: column;
    align-items: stretch;
    padding: 0.5rem;
  }
}

@media (max-width: 600px) {
  .container__menu-top {
    flex-direction: column;
    align-items: stretch;
    padding: 0.25rem;
  }
  app-menu-top-component-left h1 {
    font-size: 1rem;
  }
  app-menu-top-component-left img {
    width: 2rem;
    margin-left: 0.5rem;
  }
  app-menu-top-component-center,
  app-menu-top-component-right {
    width: 100%;
    justify-content: center;
  }
}
