<div class="menu-top-center">
  <p-toolbar class="menu-top-center-tool-bar">
    <p-button class="menu-top-center-button" icon="pi pi-user" label="About" (onClick)="scrollTo('about')" />
    <p-button class="menu-top-center-button" icon="pi pi-briefcase" label="Experience" (onClick)="scrollTo('experience')" />
    <p-button class="menu-top-center-button" icon="pi pi-building-columns" label="Projects" (onClick)="scrollTo('projects')" />
    <p-button class="menu-top-center-button" icon="pi pi-address-book" label="Contact" (onClick)="scrollTo('contact')" />
  </p-toolbar>
</div>
