.container__menu-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; /* vertical alignment */
  padding: 1rem;
  background: #232D3F;
  box-shadow: 1px 7px 13px -2px rgba(0,0,0,0.15);
  -webkit-box-shadow: 1px 7px 13px -2px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 7px 13px -2px rgba(0,0,0,0.15);

  position: fixed;
  top: 0;           /* position at the top of the page */
  left: 0;          /* start from the left edge */
  width: 100%;      /* span full width */
  z-index: 1000;    /* ensure it stays above other elements */
}
