<div class="container__menu-top">

  <app-menu-top-component-left></app-menu-top-component-left>

  <div class="menu-top-center">
    <p-toolbar class="menu-top-center-tool-bar">
      <p-button icon="pi pi-user" label="About" text plain />
      <p-button icon="pi pi-briefcase" label="Experience" text plain />
      <p-button icon="pi pi-building-columns" label="Projects" text plain />
      <p-button icon="pi pi-address-book" label="Contact" text plain />
    </p-toolbar>
  </div>

  <div class="menu-top-right">
    <p-button icon="pi pi-ellipsis-v" (click)="op.toggle($event)"></p-button>
    <p-popover #op>
      <div class="menu-top-right-popover">
        <!-- Language Switch -->
        <div class="menu-top-right-popover-language">
          <h4>Select your Language</h4>
          <p-selectbutton [options]="langOptions" [(ngModel)]="selectLanguage" optionLabel="label" optionValue="value"></p-selectbutton>
        </div>

        <hr class="menu-top-right-divider"/>

        <!-- Login as Admin Button -->
        <div class="menu-top-right-popover-settings">
          <h4>Settings</h4>
          <p-button icon="pi pi-cog" label="Admin"></p-button>
        </div>
      </div>
    </p-popover>
  </div>
</div>
