.menu-top-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  background: transparent;
}

.menu-top-right-language-switch {
  display: flex;
  align-items: center;
}

/* Icon next to language switch */
.menu-top-right p-icon-field {
  font-size: 1.2rem;
  color: #555;
  cursor: default;
}

.menu-top-right-divider {
  border: none;              /* remove default border */
  height: 0.01rem;               /* thickness of the line */
  background-color: gray;    /* visible line color */
  margin: 0.5rem 0;          /* spacing above and below */
}
