@import "primeicons/primeicons.css";
@import "tailwindcss";

*{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  background: #131826;
  overflow: hidden;
  position: relative;
}

body::before,
body::after {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  filter: blur(150px);
  opacity: 0.4;
  z-index: -1;
  animation: float 15s infinite alternate ease-in-out;
}

body::before {
  background: radial-gradient(circle at center, #ff6ec7, transparent 70%);
  top: -200px;
  left: -200px;
}

body::after {
  background: radial-gradient(circle at center, #5ef9d7, transparent 70%);
  bottom: -200px;
  right: -200px;
  animation-delay: 7s;
}

@keyframes float {
  0%   { transform: translate(0, 0) scale(1); }
  50%  { transform: translate(-10rem, -10rem) scale(1.1); }
  100% { transform: translate(-20rem, 50rem) scale(0.9); }
}
