@if (project) {
<div class="project-card">
  <div class="project-card-header">
    <h1>{{ project.title }}</h1>
  </div>

  <div class="project-card-body">

    <p>{{ project.description }}</p>

    <div class="card-stack">
      @for (item of project.stack; track $index) {
      <p-tag [value]="item" severity="info" />
      }
    </div>
  </div>

  <div class="footer-view">
    @if (project.github != "") {
    <a [href]="project.github">
      <p-button label="GitHub" icon="pi pi-github" class="w-full" styleClass="w-full"></p-button>
    </a>
    }

    @if (project.youtube) {
    <a [href]="project.youtube">
      <p-button label="YouTube" icon="pi pi-youtube" class="w-full" styleClass="w-full"></p-button>
    </a>
    }
  </div>
</div>
}
