@if (project) {
<div class="project-card">
  <div class="project-card-header">
    <h1>{{ project.title }}</h1>
  </div>

  <div class="project-card-body">

    <p>{{ project.description }}</p>

    <div class="card-stack">
      @for (item of project.stack; track $index) {
      <p-tag [value]="item" severity="primary" class="stack-tag" />
      }
    </div>
  </div>

  <div class="footer-view">
    @if (project.github != "") {
    <a [href]="project.github" target="_blank">
      <p-button label="GitHub" icon="pi pi-github" type="primary" class="project-link-button"></p-button>
    </a>
    }

    @if (project.youtube) {
    <p-button label="YouTube" icon="pi pi-youtube" class="project-link-button" (onClick)="openDialog()"></p-button>
    <p-dialog header="Check the Video!" [(visible)]="youtubeDialog" class="youtube-dialog-view">
      <div class="youtube-dialog-content">
        <app-youtube-player-component [videoId]="project.youtube"></app-youtube-player-component>
      </div>
    </p-dialog>
    }
  </div>
</div>
}
